doctype html
html(lang="es")
  include ../partials/head.pug
  body
    .container
      include ../partials/header.pug
      .content
        p.title ¡Disfruta de tu nueva Wallet!
        p
          small Estimado/a #{vars.name},
        p(style="margin-block-end: 0em; margin-block-start: 0em;")
          small Nos complace informarte que tu wallet ha sido creada exitosamente en B2pay.
        p(style="margin-block-end: 0em; margin-block-start: 0em;")
          small Ahora puedes acceder a tu wallet y comenzar a gestionar tus activos digitales de manera ágil, segura y sencilla.

        div.container-button
          a.button(href="#" target="_blank" rel="noopener noreferrer") Acceder a mi wallet

        p 
          small
            strong Funciones Principales de tu B2pay Wallet:

        ol 
          li
            small Maneja tus finanzas: Usa tus criptomonedas de forma segura con nuestra tecnología avanzada de encriptación.
          li
            small Envio de dinero: Transfiere tus activos digitales a otras wallets de manera rápida y segura.
          li
            small Recibir dinero: Recibe activos digitales de cualquier parte del mundo con facilidad de forma inmediata.
          li
            small Historial de Transacciones: Revisa todas tus transacciones anteriores para mantener un registro claro y transparente.

        p 
          small Te animamos a explorar todas las funciones que tu wallet tiene para ofrecerte y empezar a utilizar B2pay.

        p 
          small ¡Esperamos que disfrutes de tu experiencia con nuestra wallet B2pay!

      include ../partials/footer.pug
