doctype html
html(lang="es")
  include ./partials/head.pug
  body
    .container
      p(style="display:none;max-height:0;overflow:hidden;")
           Código de Verificación OTP: Tu código OTP de b2crypto es ...
      include ./partials/header.pug
      .content
        p(style="margin-bottom: 25px; color: #1A1431; text-align: center;") Código de Verificación OTP
        
        p Hola #{vars.name},

        p Tu código OTP de b2crypto es:

        table(width="100%", cellpadding="0", cellspacing="0", border="0", style="margin-top: 20px;")
          tr
            td(style="text-align: center;")
              each digit in vars.otp.toString().split('')
                span(style="background-color: #FFFFFF; color: #1b1330; padding: 8px 12px; border-radius: 8px; margin: 0 5px; display: inline-block;") #{digit}

        p Este código es válido por un tiempo limitado. Por favor, úsalo pronto para completar tu verificación.

        p Si no has solicitado este código, por favor ignora este correo y contacta con nuestro equipo de soporte.

        p Gracias por usar b2crypto para tus transacciones seguras.

        p Saludos cordiales,
        p El equipo de b2crypto
      
      div(style="padding: 10px 0; border: 0; height: 15px; background-color: #FFFFFF; width: 100%; display: flex; justify-content: center; align-items: center;")
        hr(style="border: 0; height: 1px; background-color: #000000; width: 80%; ")

      div(style="padding: 20px; padding-left: 35px; padding-right: 35px;")
        p 
           Si tienes alguna pregunta o necesitas asistencia, no dudes en contactarnos a través de soporte@b2pay.app.