doctype html
html(lang="es")
  include ./partials/head.pug
  body
    .container
      p(style="display:none;max-height:0;overflow:hidden;")
        small Nos complace informarte que tu contraseña ha sido modificada exitosamente. A continuación, te proporcionamos los detalles de esta actualización.
      include ./partials/header.pug
      .content
        div(style="display: flex; justify-content: center; align-items: center; flex-direction: column;")
          - const iconsInfo = typeof socialMediaIcons === 'string' ? JSON.parse(socialMediaIcons) : socialMediaIcons
        div(style="text-align: center; margin-bottom: 5px;")
          img(src=(iconsInfo.info || '') alt="Información" height="50vh" style="margin: 0 auto 2px auto; display: block;")
          
        p(style="font-size: 18px; margin-bottom: 25px; color: #1A1431; text-align: center;") Confirmación de cambio de contraseña
        p
          small Estimada #{vars.name || 'Emilia Di Carlo'}

        p
          small Nos complace informarte que tu contraseña ha sido modificada exitosamente. A continuación, te proporcionamos los detalles de esta actualización:

        p(style="margin-left: 2px; color: #1b1330")
          strong(style="font-size:9px !important;") Detalles del Cambio de Contraseña:
        
        .transaction-info(style="display: flex; margin-bottom: 22px; align-items: flex-start;")
          img(src=iconsInfo.date alt="Fecha" height="15vh" style="margin-right: 10px;margin-top: 8px !important;")
          div(style="color: #1A1431; margin-top:-4px;font-size: 9px;")
            div Fecha y Hora
            div #{vars.changeDate || '14 de Julio del 2024'}, #{vars.changeTime || '17:55h'}
        
        p(style="color: #1A1431;")
          small
            strong Importante:
            br
            | Por razones de seguridad, no incluimos tu nueva contraseña en este correo. Si no fuiste tú quien solicitó este cambio, por favor contacta a nuestro equipo de soporte de inmediato.
      
      div(style="padding: 10px 0; border: 0; height: 10px; background-color: #FFFFFF; width: 100%; display: flex; justify-content: center; align-items: center;")
        hr(style="border: 0; height: 1px; background-color: #000000; width: 80%; ") 

      div(style="padding: 20px; padding-left: 35px; padding-right: 35px;")
        p(style="font-size: 11px; margin-bottom: 5px; color: #1A1431; font-weight: bold;") B2tips
        
        p(style="font-size: 11px; color: #1A1431;")
          small Para mejorar la seguridad de tu cuenta, te recomendamos habilitar la autenticación de dos factores (2FA) si aún no lo has hecho. Esta función añade una capa adicional de protección a tu cuenta, requiriendo un código adicional además de tu contraseña para acceder.
      
      div(style="padding: 10px 0; border: 0; height: 10px; background-color: #FFFFFF; width: 100%; display: flex; justify-content: center; align-items: center;")
        hr(style="border: 0; height: 1px; background-color: #000000; width: 80%; ")

      div(style="padding: 20px; padding-left: 35px; padding-right: 35px;")
        p(style="font-size: 9px; color: #1A1431;")
          | Si tienes alguna pregunta o necesitas asistencia, no dudes en contactarnos a través de soporte@b2pay.app o contacta a 
          | nuestro equipo de soporte al cliente a través de nuestro WhatsApp.
        
        p(style="font-size: 9px; color: #1A1431;")
          | Gracias por unirte a nosotros. ¡Esperamos que disfrutes de tu experiencia con B2pay!