doctype html
html(lang="es")
  include ./partials/head.pug
  body
    .container
      include ./partials/header.pug
      .content
        p.title Bienvenido al Pre-Registro de B2pay
        p
          p Estimado/a #{vars.name},
        p
          p ¡Gracias por unirte al pre-registro de B2pay! Estamos emocionados de que formes parte de nuestra comunidad y queremos asegurarnos que tu acceso sea lo más sencillo y confiable posible.

        p
          p Para que puedas acceder a tu cuenta de B2pay, aquí te damos tu contraseña exclusivamente creada para ti:
        p
          p Contraseña: [#{vars.password}]
        p
          p Importante: Esta contraseña es provisional y podrás cambiarla en cualquier momento una vez que inicies sesión.

        p
          p Descarga la aplicación
        p
          p Si usas Android, encuéntrala en Google Play.
        p
          p Si tienes iPhone, descárgala desde la App Store.

        p
          p Accede a tu cuenta
        p
          p Usuario: Tu correo electrónico registrado: #{vars.user}
        p
          p Contraseña: Usa la contraseña que te proporcionamos.

        p
          p Si tienes algún problema o necesitas ayuda, no dudes en contactarnos a support@b2fintech.com.
          br
          p ¡Estamos aquí para asegurarnos de que disfrutes de la mejor experiencia!

        p
          p Gracias por confiar en B2pay.

        p
          p Sabemos que cada detalle cuenta, por eso hemos preparado videos tutoriales que te acompañarán en cada paso:

      