doctype html
html(lang="es")
  include ./partials/head.pug
  body
    .container
      include ./partials/header.pug
      .content
        h1(style="color: #1b1330; text-align: center; margin-bottom: 20px;") ¡Gracias por registrarte! Tu tarjeta está cada día más cerca.
        
        p(style="margin-bottom: 15px;") Estimad@ #{vars.name},
        
        p(style="margin-bottom: 15px;")
          | Nos complace informarte que te has registrado exitosamente en la lista de espera para obtener tu B2card.
          | ¡Estás un paso más cerca de disfrutar de una experiencia financiera sin límites!
        
        p(style="margin-bottom: 15px;")
          | En breve recibirás más información sobre el lanzamiento, las características de tu B2card, y cómo ser de los
          | primeros en activarla.
        
        .platform-info(style="background-color: #f9f9f9; padding: 20px; margin: 20px 0; border-radius: 8px;")
          h2(style="color: #1b1330; margin-top: 0;") Conoce tu nueva plataforma
          
          p(style="font-weight: bold;") Funciones principales de B2pay:
          
          ol(style="padding-left: 20px;")
            li Tarjeta disponible: Accede a una tarjeta física o virtual para tus transacciones diarias.
            li Recarga de wallet: Recarga tu billetera digital de forma sencilla y sin complicaciones.
            li Pagos globales: Realiza pagos de manera rápida y segura en cualquier parte del mundo.
            li Maneja tus finanzas: Accede a un historial personalizado de todos tus movimientos financieros.
          
          p
            | No esperes más y comienza a explorar todas las posibilidades que B2pay tiene para ofrecerte.
            | Estamos aquí para ayudarte en cada paso del camino.
        
        p(style="margin-bottom: 15px;") Gracias por confiar en B2pay.

        p(style="margin-bottom: 15px;")
          | Si tienes alguna pregunta o necesitas asistencia, no dudes en contactarnos a través de 
          a(href="mailto:support@b2fintech.com" style="color: #1b1330;") support@b2fintech.com

      include ./partials/footer.pug