doctype html
html(lang="es")
  include ./partials/head.pug
  body
    .container
      include ./partials/header.pug
      .content
        h1.title ¡Gracias por registrarte! Tu tarjeta está cada día más cerca.
        
        p.greeting Estimada #{vars.name},
        
        p.welcome
          | Nos complace informarte que te has registrado exitosamente en la lista de espera para obtener tu B2card.
          | ¡Estás un paso más cerca de disfrutar de una experiencia financiera sin límites!
        
        p
          | En breve recibirás más información sobre el lanzamiento, las características de tu B2card, y cómo ser de los
          | primeros en activarla.
        
        .platform-info
          h2 Conoce tu nueva plataforma
          
          p Funciones principales de B2pay:
          
          ol
            li Tarjeta disponible: Accede a una tarjeta física o virtual para tus transacciones diarias.
            li Recarga de wallet: Recarga tu billetera digital de forma sencilla y sin complicaciones.
            li Pagos globales: Realiza pagos de manera rápida y segura sin costosas tarifas de cambio.
            li Manejo sin fronteras: Accede a tus finanzas personales desde todos los rincones financieros.
          
          p
            | No esperes más y comienza a explorar todas las posibilidades que B2pay tiene para ofrecerte.
            | Estamos aquí para ayudarte en cada paso del camino.
        
        p.thanks Gracias por confiar en B2pay.

      include ./partials/footer.pug

style.
  .container {
    max-width: 600px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
  }
  .content {
    padding: 20px;
    background-color: #ffffff;
  }
  .title {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }
  .greeting, .welcome, .thanks {
    color: #333;
    line-height: 1.6;
  }
  .platform-info {
    background-color: #f9f9f9;
    padding: 20px;
    margin-top: 20px;
  }
  .platform-info h2 {
    color: #1b1330;
  }