doctype html
html(lang="es")
  include ./partials/head.pug
  body
    .container
      include ./partials/header.pug
      .content
        p.title ¡Bienvenido a B2pay!
        p
          small Estimado/a #{vars.name},

        p
          small Conoce tu nueva plataforma

        p 
          small
            strong Funciones principales de B2pay:

        ol
          li
            small Tarjeta disponible: Accede a una tarjeta física o virtual para tus transacciones diarias.
          li
            small Recarga de wallet: Recarga tu billetera digital de forma sencilla y sin complicaciones.
          li
            small Pagos globales: Realiza pagos de manera rápida y segura en cualquier parte del mundo.
          li
            small Maneja tus finanzas: Accede a un historial personalizado de todos tus movimientos financieros.

        br

        p 
          small No esperes más y comienza a explorar todas las posibilidades que B2pay tiene para ofrecerte. Estamos aquí para ayudarte en cada paso del camino.

        p
          small Gracias por confiar en B2pay.

      include ./partials/footer.pug
