doctype html
html(lang="es")
  include ./partials/head.pug
  body
    .container
      p(style="display:none;max-height:0;overflow:hidden;") Nos complace informarte que tu perfil ha sido creado exitosamente. Ahora puedes acceder a tu cuenta y comenzar a disfrutar de todas las ventajas que ofrecemos.
      include ./partials/header.pug
      .content
        h1(style="margin-bottom: 25px; color: #1A1431; text-align: center;")  ¡Bienvenido a B2pay!
        p Estimado/a nuevo usuario,

        p Nos complace informarte que tu perfil ha sido creado exitosamente. Ahora puedes acceder a tu cuenta y comenzar a disfrutar de todas las ventajas que ofrecemos.
        
        br
        
        p Te animamos a personalizar tu perfil para reflejar tu identidad y preferencias. Esto te permitirá sacar el máximo provecho de nuestra plataforma y asegurarte de que recibas una experiencia personalizada.
      div(style="padding: 10px 0; border: 0; height: 15px; background-color: #FFFFFF; width: 100%; display: flex; justify-content: center; align-items: center;")
        hr(style="border: 0; height: 1px; background-color: #000000; width: 80%; ") 

      div(style="padding: 20px; padding-left: 35px; padding-right: 35px; ")
        h1(style="margin-bottom: 5px; color: #1A1431; text-align: center;") Conoce tu nueva plataforma
        p 
          strong Funciones principales de B2pay:

        ol
          li Tarjeta disponible: Accede a una tarjeta física o virtual para tus transacciones diarias.
          li Recarga de wallet: Recarga tu billetera digital de forma sencilla y sin complicaciones.
          li Pagos globales: Realiza pagos de manera rápida y segura en cualquier parte del mundo.
          li Maneja tus finanzas: Accede a un historial personalizado de todos tus movimientos financieros.

        p(style="color: #1A1431;") No esperes más y comienza a explorar todas las posibilidades que B2pay tiene para ofrecerte. Estamos aquí para ayudarte en cada paso del camino.
        
          br
          br

          | Gracias por confiar en B2pay.
      div(style="padding: 10px 0; border: 0; height: 15px; background-color: #FFFFFF; width: 100%; display: flex; justify-content: center; align-items: center;")
        hr(style="border: 0; height: 1px; background-color: #000000; width: 80%; ")

      div(style="padding: 20px; padding-left: 35px; padding-right: 35px; ")
        p(style=" color: #1A1431;")
          | Si tienes alguna pregunta o necesitas asistencia, no dudes en contactarnos a través de soporte@b2pay.app o contacta a 
          | nuestro equipo de soporte al cliente a través de nuestro <a href="https://wa.link/2jql8k" target="_blank">WhatsApp</a>.
        
        p(style=" color: #1A1431;") Gracias por unirte a nosotros. ¡Esperamos que disfrutes de tu experiencia con B2pay!

      
