- const iconsInfo = typeof icons === 'string' ? JSON.parse(icons) : icons
- const iconsMails = typeof iconsEmail === 'string' ? JSON.parse(iconsEmail) : iconsEmail

doctype html
html(lang="es")
  include ./partials/head.pug
  body
    .container
      include ./partials/header.pug
      .content
        div(style="display: flex; justify-content: center; align-items: center; flex-direction: column;")
          span(style="font-size: 3em; color: #28a745;") ✅
          p.title(style="margin-block-end: 0.5em; margin-block-start: 0.5em;") ¡Compra aprobada exitosamente! 📦
        p 
          small #{vars.name}, ¡Tu compra ha sido aprobada exitosamente! 
        p 
          small Nos complace informarte que tu compra realizada el dia 15 de Julio del 2024  a las 14:23 h en Blank Street Coffee ha sido aprobada con éxito. A continuación, te compartimos los detalles de tu transacción:

        p 
          small
            strong Detalles de la Compra:

        .transaction-info(style="display: flex; margin-bottom: 22px;")
          div(style="display: flex; align-items: center; width: 30px;")
            span(style="font-size: 1.3em;") 📅
          div(style="display: flex; align-items: center;")
            strong(style="margin-right: 8px; color: #000;") Fecha y Hora
            span(style="color: #000;") 14 de Julio del 2024, 17:55h
        
        .transaction-info(style="display: flex; margin-bottom: 22px;")
          div(style="display: flex; align-items: center; width: 30px;")
            span(style="font-size: 1.3em;") 🏪
          div(style="display: flex; align-items: center;")
            strong(style="margin-right: 8px; color: #000;") Establecimiento
            span(style="color: #000;") Blank Street Coffee
        
        .transaction-info(style="display: flex; margin-bottom: 22px;")
          div(style="display: flex; align-items: center; width: 30px;")
            span(style="font-size: 1.3em;") 💰
          div(style="display: flex; align-items: center;")
            strong(style="margin-right: 8px; color: #000;") Moneda
            span(style="color: #000;") #{vars.currency}
        
        .transaction-info(style="display: flex; margin-bottom: 22px;")
          div(style="display: flex; align-items: center; width: 30px;")
            span(style="font-size: 1.3em;") 💸
          div(style="display: flex; align-items: center;")
            strong(style="margin-right: 8px; color: #000;") Monto
            span(style="color: #000;") #{vars.amountReload}
        
        .transaction-info(style="display: flex; margin-bottom: 22px;")
          div(style="display: flex; align-items: center; width: 30px;")
            span(style="font-size: 1.3em;") 💳
          div(style="display: flex; align-items: center;")
            strong(style="margin-right: 8px; color: #000;") Método de Pago Utilizado
            span(style="color: #000;") xxxx xxxx 9898

        p
          small Gracias por utilizar nuestros servicios para realizar tu compra.

      include ./partials/footer.pug