doctype html
html(lang="es")
  include ./partials/head.pug
  body
    .container
      include ./partials/header.pug
      .content
        h2 Alerta de Seguridad
        p Estimado/a #{vars.name},
        p Hemos detectado la siguiente actividad en tu cuenta:

        .alert
          p
            strong Tipo de Alerta: 
            | #{vars.alertType}
          p
            strong Fecha y Hora: 
            | #{vars.alertDateTime}
          p
            strong Detalles: 
            | #{vars.alertDetails}

        p Si no reconoces esta actividad, por favor contacta inmediatamente con nuestro equipo de soporte.

        h3 Recomendaciones de Seguridad:
        ul
          li Cambia tu contraseña regularmente
          li Activa la autenticación de dos factores
          li No compartas tus credenciales con nadie

      include ./partials/footer.pug