doctype html
html(lang="es")
  include ./partials/head.pug
  body
    .container
      include ./partials/header.pug
      .content
        h2 Detalles de tu Tarjeta
        p Estimado/a #{vars.name},
        p Te informamos sobre el estado de tu tarjeta:
        
        ul
          li Tipo de Tarjeta: #{vars.cardType}
          li Número de Tarjeta: **** **** **** #{vars.lastFourDigits}
          li Estado: #{vars.status}

        if vars.cardType === 'Física'
          p Tu tarjeta física será enviada a la dirección registrada en los próximos días hábiles.
        else
          p Tu tarjeta virtual está lista para ser utilizada en compras en línea.

        p Para activar tu tarjeta, sigue las instrucciones en nuestra aplicación móvil o sitio web.

      include ./partials/footer.pug