name: CI/CD Pipeline for B2crypto Monolith

on:
  pull_request:
    branches: [stage]

concurrency:
  # group: ${{ github.workflow }}-${{ github.ref }}
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        node-version: [20.x]
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Format code
        run: npm run format

      # - name: Lint code
      #   run: npm run lint

      # - name: Run unit tests
      #   run: npm test

      # - name: Run integration tests
      #   run: npm run test:e2e

      - name: Build
        run: npm run build

  deploy:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        node-version: [20.x]
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: AWS CLI setup
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-2

      - uses: pulumi/actions@v5
        with:
          command: preview
          stack-name: staging
          work-dir: ./iac
          comment-on-pr: true
          diff: true
        env:
          PULUMI_ACCESS_TOKEN: ${{ secrets.PULUMI_ACCESS_TOKEN }}
